@model Message
@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Layout/Index.cshtml";
}

<input type="hidden" asp-for="Id"/>
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Messages</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Message Details</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Sender: <b>@Model.NameSurname</b> 
                            <br />
                            Email: <b>@Model.Email</b>
                            <br />
                            Date: <b>@Model.SendDate</b>
                            <br />
                            <br />
                            Message: <b>@Model.MessageDetail</b>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

